<div id="announcement-bar" class="announcement-bar">
  {{ section.settings.header_announcement_text }}
  {% if section.settings.header_announcement_link_text %}
    <a href="{{ section.settings.header_announcement_link_url }}" title="{{ section.settings.header_announcement_link_text }}" class="link">{{ section.settings.header_announcement_link_text }}</a>
  {% endif %}
</div>
