<aside id="cart-drawer">
    <div class="cart-drawer-backdrop"></div>
    <div class="cart-drawer">
        <div class="cart-drawer-header">
            <a href="/cart">View Cart Full Screen</a>
            <button type="button" class="cart-drawer-close"><i class="fa fa-times fa-lg"></i></button>
        </div>
    </div>
</aside>