<a href="/" title="Homepage" class="d-flex flex-column px-2">
  <img src="{{ 'logo-abs-centred.svg' | asset_url }}" alt="Logo {{ shop.name }}" class="header-logo-image d-none d-lg-block" />
  <img src="{{ 'logo-abs-left.svg' | asset_url }}" alt="Logo {{ shop.name }}" class="header-logo-image d-block d-lg-none" />
</a>
