<select name="{{ option.name }}" data-switcher-option="{{ option.position }}">
  {%- for value in option.values -%}
    <option value="{{ value }}" {%- if option.selected_value == value -%}selected{%- endif -%}">{{ value }}</span>
  {%- endfor -%}
</select>
