.bulk_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    padding: 5px;
    align-items: center;
    border: 1px solid #182a59;
    border-radius: 5px;
    font-weight: 700;
    color: #182a59;
}
.bulk_item img{
  width: 2.875rem;
}