{% if collection.image != blank %}
  {% include 'hero' %}
{% else %}
  <h2 class="text-center pt-5">Collection: {{ collection.title }}</h2>
{% endif %}
{% paginate collection.products by 36 %}
  <div class="container content list-collection">
    {% if collection.description != blank %}
      <p class="text-center">
        {{ collection.description }}
      </p>
    {% endif %}
    {% if collection.all_tags.size > 0 %}
      <div class="row mt-3">
        <div class="col-12 col-md-3">
          {% include 'widget_collection_filters_liquid' %}
        </div>
        <div class="col-12 col-md-9">
          <div class="row">
    {% endif %}
          {% for collection_product in collection.products %}
            {% include 'collection_product_tile', tile_product: collection_product %}
          {% endfor %}
          {% if paginate.pages > 1 %}
            <div class="col-12 col-md-6 offset-md-3 d-flex justify-content-center">
              {% include 'pagination' %}
            </div>
          {% endif %}
    {% if collection.all_tags.size > 0 %}
        </div>
      </div>
    {% endif %}
    </div>
  </div>
{% endpaginate %}
